In [5]:
if object_id('hr.person','U') is not null
    drop table hr.person;

go

create schema hr;
go
create table hr.person(person_id int IDENTITY (1,1) primary key,
first_name varchar(50) not null,
last_name varchar(50) not null,
gender char(1) not null
);

go
insert into hr.person(first_name, last_name, gender)
--output inserted.person_id
values('hakan','çelik','M');
GO

--select * from hr.person;

GO

insert into hr.person(first_name,last_name,gender)
    --output inserted.person_id
    values('Ömer Faruk','çelik','M');
go
--select * from hr.person;

GO
delete from hr.person;
GO



dbcc checkident ('hr.person',reseed,0);

go
--select * from hr.person;
alter table hr.person
    ADD
        yas decimal(10,1) not null;

GO



insert into hr.person(first_name, last_name,gender,yas)
    values('Mert Kadıoğlu','Kadıköy','M',21);
--GO
--select * from hr.person;

create table hr.person2(
    kimlik int identity(1000,1) primary key,
    isim varchar(50) not null,
    yas decimal(3,0) not null,
    gender char(1) not null
);
go
delete from hr.person2;
dbcc checkident('hr.person2',reseed,1000);

go
insert into hr.person2(isim,yas,gender)
    values
    ('Ömer',100,'M'),
    ('Hakan',97,'M'),
    ('Kenan',90,'M');

GO

select * from hr.person2;
go

insert into hr.person2(isim, yas, gender)
    values('Mehmet', 30, 'M');

go

select * from hr.person2;
GO

alter table hr.person2
    ADD
        insan_mi char(1) not null default('H');

GO

select * from hr.person2;

: Msg 2714, Level 16, State 6, Line 6
There is already an object named 'hr' in the database.

: Msg 2759, Level 16, State 0, Line 6
CREATE SCHEMA failed due to previous errors.

: Msg 2714, Level 16, State 6, Line 53
There is already an object named 'person2' in the database.

kimlik,isim,yas,gender
1001,Ömer,100,M
1002,Hakan,97,M
1003,Kenan,90,M

kimlik,isim,yas,gender
1001,Ömer,100,M
1002,Hakan,97,M
1003,Kenan,90,M
1004,Mehmet,30,M

kimlik,isim,yas,gender,insan_mi
1001,Ömer,100,M,H
1002,Hakan,97,M,H
1003,Kenan,90,M,H
1004,Mehmet,30,M,H